body{
              background-color:rgb(255, 229, 114                 );
            }
            h1{
                background-color:rgb(255, 255,                  255);
            }
            #blanca{
                background-color:rgb(172, 255,                  252);
            }
              #castillo{
                background-color:rgb(48, 213,                   148);
            }
            #parque{
                background-color:rgb(114, 246,                  255);
            }